<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Most popular secrets....</h1>
    <a href="{% url 'ds:index' %}">back</a>

    <table>
    {% for secret in secrets %}
    <tr>
        <td>{{secret.content}}</td>
        <td>{{secret.created_at}}</td>
        <td>{{secret.sec.count}}</td>
        <!-- <td>{{secret.user.first_name}}</td> -->
          {% if request.session.logged in secret.get_like_users %}
          <td><a href="{% url 'ds:unlike' id=secret.id %}" value="{{secret.id}}">Unlike</a></td>
          <td>you liked this</td>
          {% else %}
          <td><a href="{% url 'ds:like' id=secret.id %}" value="{{secret.id}}">Like</a></td>
          {% endif %}
        {% if request.session.logged == secret.user_id %}
        <td>you posted this</td>
        <td><a href="{% url 'ds:delete' id=secret.id %}">delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}

  </body>
</html>
